.containerCardCompany {
  width: 90%;
  height: 25vh;
  display: flex;
  position: relative;
  border-radius: 0.4rem;
  background-color: var(--itemsColor);
  color: #fff;
  justify-content: space-between;
}
.containerCardCompany:hover {
  cursor: pointer;
}
.containerInformation {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2vh;
  align-items: center;
  flex-direction: column;
}

.containerImg img {
  height: 100%;
  width: 100%;
  border-radius: 0 0.4rem 0.4rem 0;
}
