.titleCompany {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 5vh;
}
.subTitleCompany {
  color: #5e503f;
  font-weight: 500;
  font-size: 5vh;
}

.buttons {
  height: 8vh;
  width: 8vh;
  background-color: var(--primaryColor);
  border: none;
}
.buttonsBody {
  height: 10vh;
  width: 10vh;
  background-color: var(--primaryColor);
  border: none;
}
.containerCards {
  width: 98%;
  max-height: 60vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
}
