:root {
  --primaryColor: #49111c;
  --secondaryColor: #f9f5f0;
  --backGroundColor: #e8e8e8;
  --itemsColor: #797878;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--secondaryColor); /* Color de fondo */
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--itemsColor); /* Color del pulgar */
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el ratón */
}
