/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #f0f0f0; /* Color de fondo */
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el ratón */
}
